# rails .gitignore defaults from github
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.DS_Store